* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #3C2A21;
  --primary-color: #FEFCF3;
  --nav-color: #ebeae4;

}

body {
  background: linear-gradient(to right, rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));
}

.navbar {
  background: linear-gradient(to left, rgb(171, 186, 171), rgb(255, 255, 255));
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.button_color {
  background-color: #5d6b7e !important;
  color: rgb(231, 224, 224) !important;
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/* body {
  background-color: var(--primary-color);
} */

/* Admin SideBar CSS */
.main_container {
  /* position: fixed; */
  /* z-index: 10; */
  display: flex;

}

.sidebar {
  background-color: var(--nav-color);
  height: 100vh;
  /* color: white; */
}

.active {
  /* border-right: 4px solid white; */
  background: rgb(179, 180, 190);
  text-decoration: none;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  font-size: 15px;
  line-height: 0;
}

.bars {
  font-size: 20px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

.search input {
  width: 140px;
  margin: auto;
  border-radius: 5px;
  padding: 2px 10px;
  background: antiquewhite;
}

.link {
  display: flex;
  color: #3C2A21;
  gap: 1rem;
  font-size: 20px;
  padding: 10px;
}

.link:hover {
  border-right: 2px solid white;
  transition: 0.2s;
}

.search_icon {
  font-size: 18px;
}


/* Managing tables of every crud operation */
.table_data {
  overflow: scroll;
  min-height: 50vh;
  margin: 10px;
}

th {

  color: var(--text);
}



/* SubNav management */
.sub_nav,
.sub_nav div a {
  background-color: var(--nav-color);
  color: var(--text);

}

.sub_nav div:hover {
  transform: scale(1.1);
  transition: .2s;
  cursor: pointer;
}

/* Container including edit/add feature */
.bg-container {
  background-color: rgb(198, 208, 214);
  margin-bottom: 15px;
}

.bg-container div {
  color: var(--text);
}

img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.img-div {
  height: 120px;
  width: 120px;
}

.left-div-profile {
  justify-content: center;
}

.box-shadow {
  box-shadow: 2px 2px 6px #ccc3c3, -1px -1px 6px #e5d1d1;
}

.more-details-patient {
  font-size: 14px;
  font-family: ' Arial';
  color: var(--text);
}

.details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.topic-header-patient {
  font-size: 22px;
  font-weight: bold;
}

.appointment-dashboard {
  max-height: 250px;
  overflow: scroll;
}

.appointment-dashboard::-webkit-scrollbar {
  display: none;
}

.appointment-table {
  max-height: 50vh;
  border: solid 1px black;
}

.chat-img {
  height: 60px;
  width: 80px;
  margin: auto;
}

.chat-img image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.chat-name {
  font-size: 15px;
  font-weight: bold;
  margin: auto;
}

.chat-name-div {
  overflow: hidden;
}

@media only screen and (max-width: 769px) {
  .chat-img {
    height: 40px;
    width: 50px;
  }

  .chat-name {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.chat-req-box,
.chat-box {
  min-height: 300px;
  max-height: 301px;
  overflow: scroll;
}

.chat-req-box::-webkit-scrollbar,
.chat-box::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 50px;
  width: 60px;
}

img {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #e2dac8;
}

.signup-nav div:hover {
  transform: scale(1.1);
  transition: .2s;
  cursor: pointer;
}